    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <title>OurApp</title>
    </head>
    <body>

    <nav class="navbar navbar-expand-md navbar-dark container-fluid bg-dark">
     
        <a class="navbar-brand" href="/">Our App</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">

         
          <% if(user) { %>
            <div class="row align-items-center ">
              <div class="col-auto" >
              <form action="/user" method="POST" class="" id = "search">
                <div class="input-group">
                  <input name="user" type="text" class="form-control" placeholder="Search by Username" aria-label="user" aria-describedby="basic-addon1">
                  <div class="input-group-prepend">
                    <button type = "submit" class="input-group-text" id="basic-addon1">🔍</button>
                  </div>
                </div>
              </form>
            </div>

            <div class="col-auto" >
              <h2 type="submit" class="chat" >🗨</h2>
            </div>

            <div class="col-auto" >
              <% if((user.pic)) { %><a href=""><img class="profile img-fluid" alt ='<%= user.username %>' src =' <%= user.pic  %>?s=45 '/></a> <% } %>
            </div>

            <div class="col-auto" >
              <form action='/logout' class=""  method="GET" id ="logoutForm" >
                <!-- <input class="form-control me-2" type="text" placeholder="Username" aria-label="Username" name = "username">
                <input class="form-control me-2" type="password" placeholder="Password" aria-label="Password" name="password"> -->
                <button class="btn post btn-outline-light" type="button">Create Post 📝</button>

                <button class="btn  btn-outline-light " type="submit">Logout 🔓 </button>
              </form>
            </div>
            </div>
          <% } else { %>
            <form action='/login' class="form-inline"  method="POST" id ="loginForm" >
              <div class="form-group row">
                <div class="col-4 col-form-label" >
                  <input class="form-control" type="text" placeholder="Username" aria-label="Username" name = "username">
                </div>
                <div class="col-4 col-form-label" >  
                  <input class="form-control " type="password" placeholder="Password" aria-label="Password" name="password">
                </div>  
                <div class="col-4 col-form-label" >
                  <button class="btn btn-outline-light" type="submit">Login 🔒 </button>
                </div>  
              </div>
              
            </form>
          <% } %>
        </div>
    </nav>

    <script>
      console.log('Login Form');

      const login = document.querySelector('#loginForm');
      const logout = document.querySelector('#logoutForm');

      
     

      if(logout) {

          logout.addEventListener('submit', async(e) => {
          e.preventDefault();
            
          try {
          const res = await fetch('/logout', { 
            method: 'GET', 
            headers: {'Content-Type': 'application/json'},
            mode : 'cors',
            redirect : 'follow'
          });

          

          if(res.status == 200){
           
            const data = await res.json();

            if(data.success) window.location.assign('/');
            else {console.log('error in data sent for logging out front-end', data.errors); throw Error(data.errors);}
          }
          else{
            console.log('error in data sent for logging out front-end',);
            // form_error.textContent = data.email_error;
          }
        }
        catch (err) {
          console.log('there is a error in sending the data ', err);
        }

        });

        const post = document.querySelector('.post');

        post.addEventListener('click', async(e) => {
          e.preventDefault();

          try {
            const res = await fetch('/create_post', {
              method : 'GET',
              headers: {'Content-Type': 'application/json'},
              mode : 'cors',
              redirect : 'follow'
            });

            if(res.status == 200){
             window.location.assign('/create_post');
            }
            else{
              throw Error({status : res.status});
            }
            
          } catch (err) {
            console.log('there is a error in sending the data ', err);
          }

        });

        const search = document.querySelector('#search');

        search.addEventListener('submit', async(e)=>{
          e.preventDefault();

          const userName = search.user.value;

          console.log('entered user name is', userName);

          try {
            const res = await fetch('/user', {
              method : 'POST',
              headers: {'Content-Type': 'application/json'},
              body :JSON.stringify({userName}),
              mode : 'cors',
              redirect : 'follow'
            });

          
              const data = await res.json();

             
                if(res.status == 200 && data.success == true){
                  window.location.assign('/user');
                }
                else{
                  alert('No user exists with this username');
                }
             

           

          } catch (error) {
            console.log('there is error in sending data to front-end', error);
          }
        });

        const profile = document.querySelector('.profile');

        profile.addEventListener('click', async(e)=> {
          e.preventDefault();

          const userName = profile.getAttribute('alt');

          try {
            
            const res = await fetch('/user', {
                method : 'POST',
                headers: {'Content-Type': 'application/json'},
                mode : 'cors',
                body : JSON.stringify({userName}),
                redirect : 'follow'
            });

            const data = await res.json();

                    
            if(res.status == 200 && data.success == true){
                window.location.assign('/user');
            }
            else{
                alert('No user exists with this username');
            }
          } catch (error) {
              console.log('there is error in sending data to front-end', error);
          }

        });

        const chat = document.querySelector('.chat');

        
        chat.addEventListener('click', async(e) => {
          e.preventDefault();

          try {
            const res = await fetch('/chat', {
              method : 'GET',
              headers: {'Content-Type': 'application/json'},
              mode : 'cors',
              redirect : 'follow'
            });

            if(res.status == 200){
             window.location.assign('/chat');
            }
            else{
              throw Error({status : res.status});
            }
            
          } catch (err) {
            console.log('there is a error in sending the data ', err);
          }

        });


      }


      if(login){
        login.addEventListener('submit', async (e) => {
        e.preventDefault();
        
        
        const password = login.password.value;
        const username = login.username.value;
       


        console.log('data', password, username);

        try {
          const res = await fetch('/login', { 
            method: 'POST', 
            body: JSON.stringify({password, username }), // convert the data object to json string
            headers: {'Content-Type': 'application/json'},
            mode : 'cors',
            redirect : 'follow'
          });

        
            const data = await res.json();

            if(data.errors){
              alert(data.errors);
              // if(data.errors.password) password_error.textContent = 'Password Must not be empty.'

              console.log('errors detected in front-end', data.errors);
            }

            if(data.success) window.location.assign('/dashboard');
           
         

        }
        catch (err) {
          console.log('there is a error in sending the data ', err);
        }
      });
      }

    </script>
