<%- include("includes/header") %>

<div class="container mt-4">
  <div class="row" >
   
      <div class="col-3 border border-secondary">
        <h2>Active Users</h2>
         <hr>
        <ul class="userLists" >
            <li class="currentUser" ><%= user.username %></li>
        </ul>
      </div>
  
      <div class="col-6 border border-secondary text-center ">
       
          <h2>Messages</h2>
       
        <hr>
       
      </div>
  </div>
</div>


<script src="/socket.io/socket.io.js"></script>

<script>
  var socket = io();

  const inboxPeople = document.querySelector(".inbox__people");
  const currentUser = document.querySelector('.currentUser').textContent;
  const userLists = document.querySelector('.userLists');



const newUserConnected = () => {
  socket.emit("new user", currentUser);
 };

const addToUsersBox = (userName) => {
  if (userName === currentUser) {
    return;
  }

  const userBox = `
   <li class =${userName} > ${userName} </li>
  `;
  userLists.innerHTML += userBox;
};

// new user is created so we generate nickname and emit event
newUserConnected();

socket.on("new user", function (data) {
  console.log('data is ', data);
  data.map((user) => addToUsersBox(user));
});

socket.on("user disconnected", function (userName) {
  document.querySelector(`.${userName}`).remove();
});


</script>

<%- include("includes/footer") %>


