<%- include("includes/header") %>

<div class="container">
    <form action = '' method = "POST" id = "createPost" class="m-5 ">
                
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name = "title" id="title">
        </div>

        <div class=" mb-3" ></div>

        <div class="mb-3">
            <label for="description" class="form-label">Body Content</label>
            <textarea  class="form-control" name="description" id="description" rows="10" cols="20"></textarea>
        </div>

        <div class="mb-3" ></div>

        <button type="submit" class="btn btn-success btn-block" name = "submit">Save New Post</button>

    </form>
</div>

<script>
    const createPost = document.querySelector('#createPost');
</script>

<%- include("includes/footer") %>
