<% include ./includes/header %>

<div class="container" style="margin: 4em; padding: 1em;" >

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12" >
            <h3>Welcome to your fav placae</h3>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12" >
            <form>
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" id="username">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email">
                  </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password">
                </div>  

                <button type="submit" class="btn btn-success btn-block ">Submit</button>
              </form>
        </div>

    </div>

</div>

<% include ./includes/footer %>